$black: #212121;
$dark: #424242;
$orange: #FF6D00;
$red: #D50000;
$blue: #00B8D4;
$green: #00C853;
$yellow: #FFEB3B;
$grey: #E0E0E0;
$grey-dark: #BDBDBD;
$grey-darker: #757575;
$light: #FFFFFF;
$primary: $blue;