$black: #212121;
$dark: #424242;
$orange: #FF6D00;
$red: #FF1744;
$blue: #00B8D4;
$green: #00C853;
$yellow: #FFEB3B;
$grey: #E0E0E0;
$grey-dark: #BDBDBD;
$grey-darker: #757575;
$light: #FFFFFF;
$light-alternate: #FAFAFA;
$pink: #FF3C82;
$primary: #00BCD4;